.current-weather {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 20px;
}

.temp {
    margin-top: 0;
}

img {
    width: 100px;
    height: 100px;
}

p {
    font-size: 1.2rem;
    margin: 0;
}

.condition,
.condition-icon {
    text-align: center;
}

.condition-text {
    font-size: 1.1rem;
    text-align: center;
}

.left-card {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    min-width: 300px;
}

.right-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.detail-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    gap: 50px;
}

.detail-item:last-child {
    margin-bottom: 0;
}

.item-label {
    font-weight: bold;
}