.hourly-forecast-container {
    display: flex;
    overflow: scroll;
    max-width: 800px;
    gap: 1rem;
    padding: 1rem;
    border-radius: 18px;
}

.hourly-card {
    min-width: 80px;
    padding: 0.5rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 13px;
    backdrop-filter: blur(8px);
}

.hour-icon {
    width: 50px;
    height: 50px;
    margin: 0.5rem 0;
}

.hourly-time,
.hourly-temp,
.hourly-rain {
    font-size: 0.9rem;
}