.hourly-container {
    display: flex;
    overflow: scroll;
    max-width: 700px;
    gap: 1rem;
    padding: 1rem;
    border-radius: 18px;
}

.hour-icon {
    width: 50px;
    height: 50px;
    margin: 0.5rem 0;
}

.hourly-time,
.hourly-temp,
.hourly-rain {
    font-size: 0.9rem;
}