.weekly-container {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 60%;
    padding: 1rem;
}

.daily-row {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 1rem;
    align-items: center;
    backdrop-filter: blur(10px);
    font-size: 1.2rem;
    color: #f1f1f1;
}

.daily-name {
    flex: 2;
}

.daily-temp,
.daily-rain {
    flex: 1;
    text-align: center;
}

.daily-icon {
    width: 30px;
    height: 30px;
}

.daily-condition {
    display: flex;
    text-align: center;
    flex: 1;
    gap: 0.5rem;
}

.daily-text {
    font-size: 0.85rem;
}