@import "tailwindcss";


.bg-sunrise {
    background: linear-gradient(135deg, #f3b3c8 0%, #93f2ef 100%);
}

.bg-day {
    background: linear-gradient(135deg, #67e4ed 0%, #478cec 100%);
}

.bg-sunset {
    background: linear-gradient(135deg, #e48a69 0%, #055070 100%);
}

.bg-night {
    background: linear-gradient(135deg, #1d343e 0%, #1b343c 50%, #2C5364 100%);
}

.app {
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.card {
    background: rgba(50, 50, 50, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(50, 50, 50, 0.3);
    padding: 2.5rem;
}